<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ktpl" translate="label" sortOrder="100">
            <label>ktpl</label>
        </tab>
        <section id="abandonedcart" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Abandoned Cart</label>
            <tab>ktpl</tab>
            <resource>Ktpl_AbandonedCart::config_abandonedcart</resource>
            
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Abandoned Cart General Configuration</label>                             
               <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="identity" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>  
                <field id="add_fields" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional Emails</label>
                    <frontend_model>Ktpl\AbandonedCart\Block\Adminhtml\Form\Field\AdditionalEmail</frontend_model>
                    <source_model>Ktpl\AbandonedCart\Model\Adminhtml\Source\Select</source_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <!-- <field id="max_emails" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Number for email</label>
                    <depends>
                        <field id="*/*/active">1</field>                        
                    </depends>
                </field> -->
                 <!-- <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>                         
                <field id="identity" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>                              
                <field id="subject1" translate="label" type="text" sortOrder="70" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Email Subject</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/max" separator=",">0,1,2,3,4</field>
                    </depends>
                </field> -->
                <!-- <field id="template1" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/max" separator=",">0,1,2,3,4</field>
                    </depends>
                </field> -->
                <!-- <field id="timedays" translate="label" type="text" sortOrder="85" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Mail After</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/max" separator=",">0,1,2,3,4</field>
                    </depends>
                </field>
                <field id="unit" translate="label" type="select" sortOrder="88" showInDefault="Days" showInWebsite="Days" showInStore="Days">
                    <label>Unit</label>
                    <source_model>Ktpl\AbandonedCart\Model\System\Config\Unit</source_model>
                    <depends>
                        <field id="*/*/active">Days</field>                        
                    </depends>
                </field> -->
                       
                 <!-- <field id="test_email" translate="label" type="text" sortOrder="200" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Send Test Email To</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/max" separator=",">0,1,2,3,4</field>
                    </depends>
                </field> -->
            </group>
        </section>
    </system>
</config>